################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BookEventHandler/BookEventHandler/bin
/src/BookEventHandler/BookEventHandler/obj
/src/BookEventHandler/.vs
